<div class="row wrapper wrapper-content white-bg safari-scroll" >
	<div class="row container-map">
		<div class="col-xs-12">
			<div class="add-waypoint">
				<button class="btn btn-primary" ng-click="addWaypoint()">Add waypoint</button>
				<button class="btn btn-primary" ng-click="drawWaypoint()">Draw waypoint</button>
			<div>
			<div class="form-waypoint">
				<!-- <input type="" class="origin-1">
				<input type="" class="destination-1"> -->
			</div>
			<div id="map_div"></div>
		</div>	
	</div>
</div>